@font-face {
    font-family: "iconfont"; 
    src: 
    url('font.ttf') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .logout:before {
    content: "\e66b";
  }
  
  .home:before {
    content: "\e601";
  }
  
  .profile:before {
    content: "\e60e";
  }
  
  .back:before {
    content: "\e600";
  }
  
  .icon-send:before {
    content: "\e856";
  }
  .tv:before {
    content: "\e63e";
  }
  .academy:before {
    content: "\e604";
  }
  
  .msg:before {
    content: "\e602";
  }
  
  .icon-sousuo:before {
    content: "\e60a";
  }
  
  .icon-shezhi:before {
    content: "\e6ed";
  }
  
  .notification:before {
    content: "\e604";
  }
  
  @font-face {
    font-family: 'Pacifico';
    src: url('Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}