<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static\obs_style.css">
</head>
<body>
    <header>
        <img src={{ url_for('static', filename='logo_schoolent.png') }} alt="" width="3%" height=auto style="margin-right: 1%;">
        <h2>Schoolent PROTOTYPE</h2>
    </header>
    <br><br><br>
    <div id="choice" align="center">
        <a href="/login"><button style="font-size: xx-large; padding: 60px 80px;">Login</button></a>
        <a href="/register"><button style="font-size: xx-large; padding: 60px 65px;">Register</button></a>
    </div>

</body>
</html>
